JIRA_BASE_URL=https://jira.arubanetworks.com
JIRA_TOKEN=your_jira_personal_access_token

CONFLUENCE_BASE_URL=https://confluence.arubanetworks.com
CONFLUENCE_TOKEN=your_confluence_personal_access_token
